.about {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-top: 5px dotted;
    border-color: white;
    padding-top: 10%;
}

.about-title {
    margin-top: 10%;
    margin-bottom: 10%;
}
.about-title h1{
    font-weight: 400;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif;
    font-size: 600%;
    line-height: 0.9;
    text-align: center;
}

.about-container {
    padding: 3rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    /* gap: 3rem; */
}

.description {
    width: 100%;
}

.description p {
    text-overflow: hidden;
    font-weight: 250;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif;
    font-size: 150%;
    text-align: justify;
}

.jimg {
    width: 30%;
    height: intrinsic;
    border: 3px dotted;
    border-color: #fdfcf2;
    transition: 0.4s ease;
    transition: 0.4s ease;
}

.text-container{
    padding-top: 1rem;
    width: 70%;
}

@media screen and (max-width: 1072px) {
    .about {
        position: relative;
        height: 100%;
        margin-bottom: 1rem;
    }

    .about-container {
        position: relative;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        height: 110vh;
        width: 100vw;
    }

    .jimg {
        align-self: center;
        width: 200px;
        margin-left: 1rem;
        border-color: #fdfcf2;
        transition: 0.4s ease;
        margin-bottom: 1rem;
    }

    .text-container{
        padding-top: 1rem;
        width: 100%;
    }

    .about-title {
        margin-left: 2rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    .about-title h1{
        text-align: left;
        font-size: 3.5rem;
        margin-top: 1rem;
        font-weight: 600;
    }
    
    .description p {
        text-overflow: hidden;
        font-weight: 200;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif;
        margin: 1rem;
        font-size: 1.2rem;
    }

}