.banner {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 2;
}

html {
    scroll-behavior: smooth;
}


.nav {
    float: right;
    text-align: right;
    margin-right: 2rem;
    list-style-type: none;
    margin: 2rem;
}


.nav li a:hover{
    color: #787d59;
}


.introduction  {
    overflow-x: hidden;
    height: 70%;
    padding: 3rem;
    padding-left: 4rem;
    overflow-y: hidden;
    z-index: 50;
}

.header {
    position: relative;
    width: 100%;
    font-size: 5rem;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif;
    line-height: 0.9; 
}

.blurb {
    margin-top: 4rem;
    width: 100%;
}

.blurb p{
    width: 30%;
    font-size: 1rem;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif;;
    text-align: justify;
}


.welcome {
    position: relative;
    text-align: right;
    margin-right: 2rem;
    height: 40rem
}

.welcome h1{
    font-size: 4rem;
    font-weight: 400;
    text-align: right;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif;
    letter-spacing: -1px;
    line-height: 1;
}

.introduction-text {
    position: relative;
    height: 55%;
    min-width: 300px;
}

.introduction p {
    position: relative;
    letter-spacing: 0.01rem;
}

.header h1 {
    width: 100%;
    position: relative;
    letter-spacing: 0.01cm;
    font-weight: 400;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif;
    overflow-y: hidden;
    font-size: 160%;
}

.typeWriter {
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media screen and (max-width: 1072px) {
    .introduction  {
        overflow-x: hidden;
        height: 70%;
        padding-left: 3rem;
    }

    .nav {
        margin-left: 0.9rem;
    }

    .header{
        width: 100%;
        position: relative;
        letter-spacing: 0.01cm;
        overflow-wrap: break-word;
    }

    .header h1 {
        width: 90%;
        margin: none;
        font-size: 90%;
        font-weight: 500;
        line-height: 1;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif;
    }

    .blurb {
        width: 200px;
    }
    .blurb p{
        width: 100%;
        margin-top: 3rem;
        font-size: 80%;
    }

    .nav {
        height: 10rem;
    }

    .welcome h1{
        font-size: 300%;
    }
}