.projects {
  width: 100%;
  height: 300%;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.gallery {
  align-self: center;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.projects-title h1 {
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 12rem;
  font-weight: 500;
  letter-spacing: -1px;
  text-align: center;
}

.lomp {
  padding-left: 0rem;
  margin-top: 2rem;
  margin-left: 0rem;
  display: flex;
  flex-direction: row;
}

.lomp-text {
  position: flex-end;
  width: 60%;
  height: 140px;
  text-align: left;
  border: 3px dotted;
  padding: 1rem;
}

.lomp-img-container {
  width: 70%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0rem;
  margin-right: 2rem;
}

.lomp-img {
  width: 90%;
  border: 3px solid;
  border-color: #fdfcf2;
  transition: 0.3s ease;
}

.lomp-text {
  border-color: #fdfcf2;
}

.lomp-text h1 {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif;
  text-align: left;
}

.lomp-text p {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif;
  font-size: 1.2rem;
}

.lomp-img:hover {
  width: 100%;
}

.lomp-link:hover {
  color: #dcdb9e;
  background-color: #5a5f5a;
}

.lomp-link {
  text-decoration: underline;
  border-radius: 10px;
  padding: 0.4rem;
  width: 100px;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.lomp-icons {
  margin-top: 5rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;

}
.boink-img:hover {
  height: 100%;
  width: 95%;
}

.se-img:hover {
  width: 100%;
}

.se-icons {
  margin-top: 5rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  text-align: right;
}

.chess-img:hover {
  width: 100%;
}

.boink {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
}
.boink-text {
  position: flex-end;
  width: 60%;
  height: 140px;
  text-align: left;
  border: 3px dotted;
  border-color: #fdfcf2;
  padding: 1rem;
}

.boink-icons {
  margin-top: 5rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-align: right;
}

.boink-img-container {
  width: 70%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0rem;
}

.boink-img {
  width: 90%;
  border: 3px solid;
  transition: 0.3s ease;
  border-color: #fdfcf2;
}

.boink-text h1 {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif;
  text-align: left;
}

.boink-text p {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif;
  font-size: 1.2rem;
}

.link-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.boink-link {
  border-radius: 10px;
  padding: 0.4rem;
  width: 130px;
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.boink-link h3 {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif;
  font-weight: 400;
}
.boink-link2 h3 {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif;
  font-weight: 400;
}

.se-link h3 {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif;
  font-weight: 400;
}
.chess-link h3 {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif;
  font-weight: 400;
}

.lomp-link h3 {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif;
  font-weight: 400;
}

.boink-link:hover {
  color: #dcdb9e;
  background-color: #5a5f5a;
}

.boink-link2 {
  border-radius: 10px;
  padding: 0.4rem;
  width: 140px;
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.boink-link2:hover {
  color: #dcdb9e;
  background-color: #5a5f5a;
}

.se {
  margin-top: 5rem;
  align-self: end;
  display: flex;
  position: flex-end;
  flex-direction: row-reverse;
}
.se-text {
  position: flex-end;
  width: 60%;
  height: 140px;
  border: 3px dotted;
  border-color: #fdfcf2;
  padding: 1rem;
}

.se-img-container {
  width: 70%;
  margin: 2rem;
}

.se-img {
  width: 90%;
  border: 3px solid;
  transition: 0.3s ease;
  border-color: #fdfcf2;
}

.se-text h1 {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif;
  text-align: right;
}

.se-text p {
  text-align: right;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif;
  font-size: 1.2rem;
}

.se-link {
  margin-left: auto;
  text-align: right;
  border-radius: 10px;
  padding: 0.4rem;
  width: 100px;
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.se-link:hover {
  color: #dcdb9e;
  background-color: #5a5f5a;
}

.chess {
  margin-top: 4rem;
  align-self: end;
  display: flex;
  position: flex-end;
  flex-direction: row-reverse;
}
.chess-text {
  align-self: flex-start;
  position: flex-end;
  width: 60%;
  height: 140px;
  text-align: left;
  border: 3px dotted;
  padding: 1rem;
  border-color: #fdfcf2;
}

.chess-img-container {
  align-self: flex-end;
  width: 70%;
  margin: 2rem;
}

.chess-icons-wrapper {
  position: flex-end;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: auto;
}

.se-icons-wrapper{
  position: flex-end;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.chess-icons {
  margin-top: 5rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-align: right;
}
.chess-img {
  width: 90%;
  border: 3px solid;
  transition: 0.3s ease;
  border-color: #fdfcf2;
}

.chess-text h1 {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif;
  text-align: right;
}

.chess-text p {
  text-align: right;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif;
  font-size: 1.2rem;
}

.chess-link:hover {
  color: #dcdb9e;
  background-color: #5a5f5a;
}

.chess-link {
  margin-left: auto;
  border-radius: 10px;
  padding: 0.4rem;
  width: 100px;
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.go-top {
  margin-right: 4.5rem;
  margin-top: 3rem;
  margin-bottom: 6rem;
  width: 500px;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  text-overflow: wrap;
  text-align: right;
}

.go-top h3 {
  font-size: 3rem;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif;
}

.go-top .arrow {
  align-self: right;
  align-self: flex-end;
}

.go-top .arrow:hover {
  color: #787d59;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1072px) {
  .projects-title h1 {
    font-size: 5rem;
    margin-bottom: 0;
    min-height: 100%;
  }

  .gallery {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    gap: 0rem;
    height: 100%;
  }

  .lomp-icons {
    margin-top: 1rem;
  }


  .se-icons {
    margin-top: 1rem;
  }


  .boink-icons {
    margin-top: 1rem;
  }


  .chess-icons {
    margin-top: 1rem;
  }

  .lomp {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: max-content;
    position: relative;
  }

  .lomp-img-container {
    align-self: center;
    margin: 1rem;
    width: 100%;
  }

  .lomp-text {
    width: 90%;
    height: fit-content;
    align-self: center;
  }


  .lomp-text p{
    width: 100%;
    text-align: justify;
  }

  .lomp-img {
    width: 90%;
  }

  .lomp-img:hover {
    width: 85%;
  }

  .se {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: max-content;
  }

  .se-img-container {
    align-self: center;
    width: 100%;
    margin: 1rem;
  }

  .se-text {
    width: 90%;
    align-self: center;
    height: fit-content;
  }

  .se-text p{
    width: 100%;
    text-align: justify;
  }

  .se-img {
    width: 90%;
  }
  .se-img:hover {
    width: 85%;
  }

  .boink {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: max-content;
  }

  .boink-img-container {
    align-self: center;
    margin: 1rem;
    width: 100%;
  }

  .boink-text {
    width: 90%;
    align-self: center;
    height: fit-content;
  }

  .boink-text p {
    width: 100%;
    text-align: justify;
  }

  .boink-img {
    width: 90%;
  }

  .boink-img:hover {
    width: 85%;
  }

  .chess {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: max-content;
  }

  .chess-img-container {
    align-self: center;
    margin: 1rem;
    width: 100%;
  }

  .chess-text {
    width: 90%;
    align-self: center;
    height: fit-content;
  }

  .chess-text p {
    width: 100%;
    text-align: justify;
  }


  .chess-img {
    width: 90%;
  }
  .chess-img:hover {
    width: 85%;
  }

  .go-top {
    margin-top: 8em;
  }
  
}
