.skills {
    width: 100%;
    margin-bottom: 3rem;
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.skills-wrapper {
    width: 100%;
}
.skills h1 {
    margin-top: 2rem;
    text-align: center;
    font-size: 6rem;
    font-family: "font4";
}

.java {
    width: 300px;
    height: 150px;
    color: #dcdb9e;
    background-color: #dcdb9e;
    border: 5px solid;
    border-radius: 10px;
}

.java:hover {
    background-color: #5a5f5a;
}

.python {
    width: 300px;
    height: 150px;
    color: #dcdb9e;
    background-color: #dcdb9e;
    border: 5px solid;
    border-radius: 10px;
}

.python:hover {
    background-color: #5a5f5a;
}

.c {
    width: 300px;
    height: 150px;
    color: #dcdb9e;
    background-color: #dcdb9e;
    border: 5px solid;
    border-radius: 10px;
}

.c:hover {
    background-color: #5a5f5a;
}


.javascript {
    width: 300px;
    height: 150px;
    color: #dcdb9e;
    background-color: #dcdb9e;
    border: 5px solid;
    border-radius: 10px;
}

.javascript:hover {
    background-color: #5a5f5a;
}

.css {
    width: 300px;
    height: 150px;
    color: #dcdb9e;
    background-color: #dcdb9e;
    border: 5px solid;
    border-radius: 10px;
}

.css:hover {
    background-color: #5a5f5a;
}

.cpp {
    width: 300px;
    height: 150px;
    color: #dcdb9e;
    background-color: #dcdb9e;
    border: 5px solid;
    border-radius: 10px;
}

.cpp:hover {
    background-color: #5a5f5a;
}


.figma {
    width: 300px;
    height: 150px;
    color: #dcdb9e;
    background-color: #dcdb9e;
    border: 5px solid;
    border-radius: 10px;
}

.figma:hover {
    background-color: #5a5f5a;
}


.photoshop {
    width: 300px;
    height: 150px;
    color: #dcdb9e;
    background-color: #dcdb9e;
    border: 5px solid;
    border-radius: 10px;
}

.photoshop:hover {
    background-color: #5a5f5a;
}


.icon {
    align-self: center;
    margin: 1.5rem;
}

.skills-wrapper {
    margin-top: 3rem;
    height: 90%;
    border-radius: 25px;
    align-self: center;
    align-items: center;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.skills-container {
    height: 90%;
    border-radius: 25px;
    align-self: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

.column1 {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
}

.column2 {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
}

.column3 {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
}

.column4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
}


.skills-container h2 {
    font-size: 3rem;
    font-family: "font2";
    transition: 0.3s ease;
}

.skills-container h2:hover {
    font-size: 3.5rem;
}

@media screen and (max-width: 1072px) {
    .skills {
        height: 160vh;
    }
    .skills-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .column1 {
        margin: auto;
        width: 400px;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: row;
    }
    .column2 {
        margin: auto;
        width: 400px;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: row;
    }
    .column3 {
        margin: auto;
        width: 400px;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: row;
    }
    .column4 {
        margin: auto;
        width: 400px;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: row;
    }
}
